<!DOCTYPE html>

<head>

    <meta name = "viewport" content = "width = device - width, initial-scale=1">
    
    <title>BMI Calculator</title> 

    <link rel = "stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">"
</head>

<h1> BMI Calculator </h1>

<body> 
    <div class="main">
        <form class="pure-form" method="POST" action="/bmi">
        Weight in Pounds:<br>
        <input type="text" name="weight"><br>
        Height in Feet:<br>
        <input type="text" name="heightFT"><br>
        Height in Inches:<br>
        <input type="text" name="heightIN"><br><br>
        <button type="submit" class="pure-button pure-button-primary" value="Submit">Submit</button>
        </form>
    </div>

    <br>

    <div class="main">
       
            <p>
              {% print("Your BMI is {}".format(bmi)) %}
            </p>

    </div>
</body>